
{% extends 'base.html'%}
{% load static %}

{% block content %}


<h1> Book Details </h1>

<div class="card" style="width:18rem;">
    <img src="{{ book.image.url }}" alt=".." class="card-img-top">
    <div class="card-body">
        <p class="card-text">{{ book.title }}</p>
        <p>{{ book.price }}</p>
    </div>

</div>


<!--<img src="{{book.image.url}}" alt="" class="card-img-top">-->
<!--<h3 style="color: blue;">Book Name : {{ book.title }} </h3>-->

<!--<h3 style="color:red">Price : {{ book.price }}</h3>-->

{% endblock %}
